html {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Japanese", sans-serif;
}

nav li a {
  text-decoration: none;
  color: #b64c6e;
  border-bottom: solid 2px #d89fb0;
}

nav li a:hover {
  color: #860927;
  border-bottom: solid 2px #860927;
}

.gray {
  border-bottom: solid 2px #e2e2e2;
}

.btn-ghost {
  text-decoration: none;
  color: #b64c6e;
  border: solid;
  border-width: 2px;
  border-color: #d89fb0;
  border-radius: 4px;
}

.btn-ghost:hover {
  color: #860927;
  border-color: #860927;
  background-color: #860927;
}

@media only screen and (min-width: 60em) {
  nav ul {
    text-align: right;
  }
}
